
<ion-header-bar>
    <h1 class="title">Login Page</h1>
</ion-header-bar>

<ion-view>
    <ion-content class="padding">
        <div ng-controller="googleCtrl">
            <!--<button class="button button-block button-assertive" ng-click="testmethod()">Login Using Google Gmail</button>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>-->
            

            <div class="g-signin2" data-width=1000 data-height="50" data-longtitle="true" align="center" ></div>
        <div ng-controller="fbCtrl">
            <button class="button button-block button-positive" ng-click="checkLoginState()" >Login Using Facebook</button>
        </div>
        <div>
            HI, <span data-ng-bind-html="name"></span>
        </div>

<div ng-app="directive.g+signin">
  <google-plus-signin clientid="1051787815971-ohb5htfb3o4jdkuv447i7gmscsrgjr2h.apps.googleusercontent.com" ></google-plus-signin>
  <!--<p>^ This is a Google Plus sign-in button</p>-->
</div>
    </ion-content>

</ion-view>


<div id="fb-root"></div>

