<ion-header-bar>
    <h1 class="title">Login Page</h1>
</ion-header-bar>




<ion-view>
    <ion-content class="padding" ng-controller="fbCtrl">

        <button class="button button-block button-assertive" ng-click="loginGoogle()">Login Using Google Gmail</button>
        <button class="button button-block button-positive" ng-click="checkLoginState()">Login Using Facebook</button>
        <div >
            HI, <span data-ng-bind-html="name"></span>
            </div>
    </ion-content>

</ion-view>

<div id="fb-root"></div>