<ion-header-bar>
    <h1 class="title">Login Page</h1>

    <!--<h1 class="content">Please Login using your Google Gmail Account or Facebook Account!</h1>-->
</ion-header-bar>




<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <!--<label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>-->
            <!--<label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>-->
        </div>
        <button class="button button-block button-assertive" ng-click="loginGoogle()">Login Using Google Gmail</button>
        <button class="button button-block button-positive" ng-click="loginFacebook()">Login Using Facebook</button>
    </ion-content>
</ion-view>